@page "/manageuser"

@inject HttpClient httpClient
@using GreenCoinHealth.Shared
@using GreenCoinHealth.Client.Extensions

@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.Authorization;
@inject NavigationManager navManager
@attribute [Authorize]


<AuthorizeView>
    <Authorized Context="authContext">
        <h3>ManageUser</h3>

        @if (userList == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <table class="table table-striped align-middle table-bordered">
                <thead class="table-primary">
                    <tr>
                        <th>Dni</th>
                        <th>Tipo de documento</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Nombre de usuario</th>
                        <th>Teléfono</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in userList)
                    {
                        <tr>
                            <td>@user.Dni</td>
                            <td>@user.TypeDni</td>
                            <td>@user.Name</td>
                            <td>@user.LastName</td>
                            <td>@user.username</td>
                            <td>@user.Phone</td>
                            <td>@user.Email</td>
                            <td>
                                <button class="btn btn-primary" @onclick="() => EditUser(user.Dni)">
                                    Edit
                                </button>
                                <a href='/user/delete/@user.Dni' class="btn btn-danger" role="button">
                                    Delete
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>

            @if (ShowPopup)
            {
                <!-- This is the popup to create or edit a user -->
                <div class="modal" tabindex="-1" style="display:block" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title">Edit User</h3>
                                <!-- Button to close the popup -->
                                <button type="button" class="close"
                                        @onclick="ClosePopup">
                                    <span aria-hidden="true">X</span>
                                </button>
                            </div>
                            <!-- Edit form for the current user -->
                            <div class="modal-body">
                                <EditForm OnValidSubmit="SaveUser" Model="@objUser">
                                    <DataAnnotationsValidator />
                                @if (!isEdit)
                                {
                                    <div class="form-group row mb-1">
                                        <label class="col-sm-3 col-form-label" for="ddlDniType">Tipo de documento:</label>
                                        <div class="col-sm-9">
                                            <InputSelect class="form-control" id="ddlDniType" @bind-Value="@objUser.TypeDni">
                                                @foreach (var usrDocType in Enum.GetValues(typeof(AppEnums.UserDocType)))
                                                {
                                                    <option value="@usrDocType">@usrDocType</option>
                                                }
                                            </InputSelect>
                                            <ValidationMessage For="@(() => objUser.TypeDni)" />
                                        </div>
                                    </div>
                                    <div class="form-group row mb-1">
                                        <label class="col-sm-3 col-form-label" for="usrDni">DNI</label>
                                        <div class="col-sm-9">
                                            <InputText Class="form-control" id="usrDni" @bind-Value="@objUser.Dni" />
                                            <ValidationMessage For="@(() => objUser.Dni)" />
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="form-group row mb-1">
                                        <label class="col-sm-3 col-form-label" for="ddlDniType">Tipo de documento:</label>
                                        <div class="col-sm-9">
                                            <InputText Class="form-control" disabled="disabled" id="ddlDniType" @bind-Value="@objUser.TypeDni" />
                                        </div>
                                    </div>
                                    <div class="form-group row mb-1">
                                        <label class="col-sm-3 col-form-label" for="usrDni">DNI</label>
                                        <div class="col-sm-9">
                                            <InputText Class="form-control" disabled="disabled" id="usrDni" @bind-Value="@objUser.Dni" />
                                        </div>
                                    </div>
                                    
                                }
                                    <div class="form-group row mb-1">
                                        <label class="col-sm-3 col-form-label" for="ddlGender">Género</label>
                                        <div class="col-sm-9">
                                            <InputSelect class="form-control" id="ddlGender" @bind-Value="@objUser.Gender">
                                                @foreach (var usrGender in Enum.GetValues(typeof(AppEnums.UserGender)))
                                                {
                                                    <option value="@usrGender">@usrGender</option>
                                                }
                                            </InputSelect>
                                            <ValidationMessage For="@(() => objUser.Gender)" />
                                        </div>
                                    </div>
                                    <div class="form-group row mb-1">
                                        <label class="col-sm-3 col-form-label" for="usrName">Nombre Usuario</label>
                                        <div class="col-sm-9">
                                            <InputText Class="form-control" id="usrName" @bind-Value="@objUser.username" />
                                            <ValidationMessage For="@(() => objUser.username)" />
                                        </div>
                                    </div>
                                    @if (!isEdit)
                                    {
                                        <div class="form-group row mb-1">
                                            <label class="col-sm-3 col-form-label" for="pwd">Password</label>
                                            <div class="col-sm-9">
                                                <InputText type="password" Class="form-control" id="pwd" @bind-Value="@objUser.Password" />
                                                <ValidationMessage For="@(() => objUser.Password)" />
                                            </div>
                                        </div>
                                        <div class="form-group row mb-1">
                                            <label class="col-sm-3 col-form-label" for="pwdConfirm">Confirme Password</label>
                                            <div class="col-sm-9">
                                                <InputText type="password" Class="form-control" id="pwdConfirm" @bind-Value="@objUser.Confirm_Password" />
                                                <ValidationMessage For="@(() => objUser.Confirm_Password)" />
                                            </div>
                                        </div>
                                    }
                                    <div class="form-group row mb-1">
                                        <label class="col-sm-3 col-form-label" for="fName">Nombre</label>
                                        <div class="col-sm-9">
                                            <InputText Class="form-control" id="fName" @bind-Value="@objUser.Name" />
                                            <ValidationMessage For="@(() => objUser.Name)" />
                                        </div>
                                    </div>
                                    <div class="form-group row mb-1">
                                        <label class="col-sm-3 col-form-label" for="usrLastName">Apellido</label>
                                        <div class="col-sm-9">
                                            <InputText Class="form-control" id="usrLastName" @bind-Value="@objUser.LastName" />
                                            <ValidationMessage For="@(() => objUser.LastName)" />
                                        </div>
                                    </div>
                                    <div class="form-group row mb-1">
                                        <label class="col-sm-3 col-form-label" for="usrEmail">Email</label>
                                        <div class="col-sm-9">
                                            <InputText Class="form-control" id="usrEmail" @bind-Value="@objUser.Email" />
                                            <ValidationMessage For="@(() => objUser.Email)" />
                                        </div>
                                    </div>
                                    <div class="form-group row mb-1">
                                        <label class="col-sm-3 col-form-label" for="usrPhone">Teléfono</label>
                                        <div class="col-sm-9">
                                            <InputText Class="form-control" id="usrPhone" @bind-Value="@objUser.Phone" />
                                            <ValidationMessage For="@(() => objUser.Phone)" />
                                        </div>
                                    </div>
                                    <div class="form-group row mb-1">
                                        <label class="col-sm-3 col-form-label" for="ddlRole">Rol</label>
                                        <div class="col-sm-9">
                                            <InputSelect class="form-control" id="ddlRole" @bind-Value="@objUser.UserRole">
                                                @foreach (var usrRole in Enum.GetValues(typeof(AppEnums.UserRole)))
                                                {
                                                    <option value="@usrRole">@usrRole</option>
                                                }
                                            </InputSelect>
                                            <ValidationMessage For="@(() => objUser.UserRole)" />
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <div>
                                        <span style="color:#28a745">@strSuccess</span>
                                        <span style="color:#dc3545">@strError</span>
                                    </div>
                                    <br />
                                    <div class="row flex-xl-nowrap">
                                    @if (!isEdit)
                                    {
                                        <button class="btn btn btn-primary btn-lg btn-block" type="submit">Save</button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-primary" @onclick="SaveEditUser">Add User</button>
                                    }
                                    </div>
                                </EditForm>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <button class="btn btn-primary" @onclick="AddNewUser">Add User</button>
        }

    </Authorized>
</AuthorizeView>



@code {

    // Property used to add or edit the currently selected user
    UserDTO objUser = new UserDTO();
    // Collection to display the existing users
    protected List<UserDTO> userList; 
    // To hold any possible errors
    string strError = "";
    // To hold the registration success
    string strSuccess = "";
    // To enable showing the Popup
    bool ShowPopup = false;
    bool isEdit = false;
    private bool canSendData;

    protected override async Task OnInitializedAsync()
    {
        userList = await GetUsers();
    }



    public async Task<List<UserDTO>> GetUsers()
    {
        return await httpClient.GetFromJsonAsync<List<UserDTO>>("/api/User/ReadUsers");

    }

    void AddNewUser()
    {
        // Make new user
        objUser = new UserDTO();
        // Set Id to blank so we know it is a new record
        objUser.Dni = "";
        //Clear messages
        strSuccess = "";
        strError = "";
        // Open the Popup
        ShowPopup = true;
    }

    // async Task SaveUser()
    // {
    //     strSuccess = "";
    //     strError = "";

    //     objUser.Gender = ((int)(AppEnums.UserGender)Enum.Parse(typeof(AppEnums.UserGender), objUser.Gender)).ToString();
    //     objUser.UserRole = ((int)(AppEnums.UserRole)Enum.Parse(typeof(AppEnums.UserRole), objUser.UserRole)).ToString();

    //     if (!isEdit)
    //         RegisterUser();
    //     else
    //         UpdateUser();
    // }

    async Task SaveUser()
    {
        strSuccess = "";
        strError = "";

        objUser.Gender = ((int)(AppEnums.UserGender)Enum.Parse(typeof(AppEnums.UserGender), objUser.Gender)).ToString();
        objUser.UserRole = ((int)(AppEnums.UserRole)Enum.Parse(typeof(AppEnums.UserRole), objUser.UserRole)).ToString();

        var saveResponse = await httpClient.PostAsJsonAsync<UserDTO>("/api/User/RegisterUser", objUser);
        var registerResponse = await saveResponse.Content.ReadFromJsonAsync<ResultDTO>();

        if (saveResponse.IsSuccessStatusCode)
        {
            strSuccess = registerResponse.Mensaje;
            userList = await GetUsers();
        }
        else
        {

            strError = registerResponse.Mensaje;
        }
    }


    async Task SaveEditUser()
    {
        var saveResponse = await httpClient.PutAsJsonAsync<UserDTO>("/api/User/UpdateUser", objUser);
        var registerResponse = await saveResponse.Content.ReadFromJsonAsync<ResultDTO>();

        if (saveResponse.IsSuccessStatusCode)
        {
            strSuccess = registerResponse.Mensaje;
            userList = await GetUsers();
        }
        else
        {

            strError = registerResponse.Mensaje;
        }

        isEdit = false;
        ShowPopup = false;
    }


    async Task EditUser(string userDni)
    {
        //Clear messages
        strSuccess = "";
        strError = "";

        objUser = await httpClient.GetFromJsonAsync<UserDTO>($"/api/User/GetUser/{userDni}");

        objUser.Gender = Enum.GetName(typeof(AppEnums.UserGender), Convert.ToInt32(objUser.Gender));
        objUser.UserRole = Enum.GetName(typeof(AppEnums.UserRole), Convert.ToInt32(objUser.UserRole));


        // Open the Popup
        ShowPopup = true;
        isEdit = true;


    }
    async Task DeleteUser()
    {
    }
    void ClosePopup()
    {
        // Close the Popup
        ShowPopup = false;
    }

    private async void Submit(EditContext editContext)
    {
        var pwdFieldIdentifier = editContext.Field("Password");
        var pdwConfirmFieldIdentifier = editContext.Field("Confirm_Password");

        var validationMessagesCount = editContext.GetValidationMessages().Count();
        if (validationMessagesCount == 0)
        {// every field is valid
            canSendData = true;
            StateHasChanged();
        }
        else if (editContext.GetValidationMessages(pwdFieldIdentifier).Count() > 0)
        {// every field is valid except the field for the `Name` property, but we dont care about it
            canSendData = true;
            StateHasChanged();
        }
        else if (editContext.GetValidationMessages(pdwConfirmFieldIdentifier).Count() > 0)
        {// every field is valid except the field for the `Name` property, but we dont care about it
            canSendData = true;
            StateHasChanged();
        }
        else
        {// there is/are some invalid field/s that we care about
            canSendData = false;
            StateHasChanged();
        }

        if (canSendData)
            await SaveUser();

    }
}
